@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.warehouse {
  border: 1px solid $cloud;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    border-bottom: 0.0625rem solid $cloud;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__edit {
    width: 2.25rem;
    height: 2.25rem;
    background-color: $instock-indigo;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__edit--hidden {
    text-decoration: none;
    display: none;

    @include tablet{
        display: initial;
    }
  }

  &__name {
    font-size: 1.75rem;
  }

  &__edit {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  &__details {
    color: $instock-black;
    padding: 1rem 1.5rem;
    border-bottom: 0.0625rem solid $cloud;
  }

  &__subtitle {
    font-size: 0.6875rem;
    color: $slate;
    font-weight: 600;
  }

  &__address {
    padding-bottom: 2.25rem;
  }

  &__contact {
    display: flex;
  }

  &__column {
    width: 50%;
  }
}
