@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.container {
  gap: 0px;
}

.icon {
    transition: transform 0.2s ease;
    &:hover {
      transform: translateX(-0.25rem);
    }
  }

.formcontainer {
  border-top: 1px solid $cloud;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
  }

  @include desktop {
    padding: 2rem 1rem; 
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    background-color: $white;
    border-radius: 3px;

    @include tablet {
      height: 6rem;
      padding: 2rem 2rem 1.3125rem 2rem;
    }

    @include desktop {
      padding: 2rem 2.5rem 1.3125rem 2.5rem;
    }
  }
}

.form__field {
  padding: 1rem 1.5rem 1.5rem 1.5rem;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 2.5rem;
  }
}

.form__input {
    margin-bottom: 1rem;
    &:last-of-type{
        margin:0;
    }

    @include tablet {
    margin-bottom: 1.5rem;
    }

}

.divider {
  border: 0.5px solid $cloud;
}

.submit-container {
  background-color: $light-grey;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.0625rem;
  border-radius: 0.1875rem;

  @include tablet {
    justify-content: end;
  }
}
