@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.icon {
  transition: transform 0.2s ease;
  &:hover {
    transform: translateX(-0.25rem);
  }
}

.container {
  gap: 0px;
}

.formcontainer {
  border-top: 1px solid $cloud;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
  }
  &__title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 2rem 1.5rem;
    background-color: $white;
    border-radius: 3px;
  }
}

.form__field {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.divider {
  border: 0.5px solid $cloud;

  @include tablet {
    margin: 0px 1rem;
  }
}

.submit-container {
  background-color: $light-grey;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1.0625rem;
  border-radius: 0.1875rem;

  @include tablet {
    justify-content: end;
  }
}
