@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.submit-container {
    background-color: $light-grey;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}