@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.inventory-form {

    &__error {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        &-message {
        @extend .body-small;
        color: $red;
        }

        &-icon {
        width: 1rem;
        height: 1rem;
        }
    }
}