// Breakpoints for Responsive Design
$tablet: 768px;
$desktop: 1280px;

// Font Weights
$regular: 400;
$semibold: 600;

// Primary Colours
$instock-black: #13182C;
$instock-indigo: #2E66E5;
$white: #FFFFFF;

// Secondary Colours
$slate: #5C667E;
$cloud: #BDC5D5;

// Background Colours
$bg-graphite: #232940;
$bg-light-grey: #F7F8F9;

// Supporting Colours
$success-green: #158463;
$error-red: #C94515;