@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global";

.inventory {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1.5rem 1.5rem;
    border-bottom: 1px solid $cloud;

    @include tablet {
      flex-direction: row;
      padding: 2rem 2rem 1.5rem;
      border: 0;
    }

    @include desktop {
      padding: 2rem 2.5rem 1.5rem;
    }
  }

  &__title {
    @extend .page-header;
    @include tablet {
      flex: 1;
    }
  }

  &__search {
    @extend .form__input;
    background-image: url("/src/assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.5rem 1.5rem;

    @include tablet{
      width: 11.5625rem;
    }

    @include desktop {
      width: 17.125rem;
    }
  }

  &__mobile-box { 
    @include tablet{
      display: flex;
      width: 70%;
      justify-content: space-between;
    }
  }
}

.table-header {
  display: none;
  font-size: 0.75rem;
  line-height: 1.125rem;
  gap: 1rem;

  @include tablet {
    height: 2.5rem;
    padding: 0 2rem;
    background-color: $light-grey;
    color: $slate;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 1%;

    @include desktop {
      padding: 0 2.5rem;
    }

    &__title {
      display: flex;
      align-items: center;
      width: fit-content;
    }

    &__item {
      @include tablet {
        width: 35%;
       }
    }

    &__category {
      @include tablet {
        width: 25%;
       }
    }

    &__status {
      @include tablet {
        order: 2;
        width: 30%;
      }
    }

    &__quantity {
      @include tablet {
        order: 3;
        width: fit-content;
        padding-right: 1rem;
      }
    }

    &__warehouse {
      order: 3;
      flex-grow: .5;
    }

    &__actions {
      order: 3;
    }
  }
}